@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        @{
            try {
                WebMail.SmtpServer = "smtp.example.com";
                WebMail.SmtpPort = "587";
                WebMail.EnableSsl = true;
                WebMail.UserName = "AndrewDeacy";
                WebMail.Password = "dr3wdr3w";
                WebMail.From = "rsvp@example.com"
                
                //sending webmail with above credentials...
                WebMail.Send("party-host@example.com", "RSVP Notification", Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not") + "attending");
                
            } catch (Exception) {
                @:<b>Sorry -we couldn't send the email to confirm your RSVP.</b>
            }
            }
        <h1>Thank you, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        { 
            @:It's great that you're coming. The beer is already cold!
        }
        else { 
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }
    </div>
</body>
</html>
